<ion-view view-title="Contact">
  <ion-content>
    <div class="list">
	    <div class="card no-margin-bottom">
			  <div class="item item-image">
			    <img src="https://unsplash.it/540/304?image=1058">
			    <p class="overlay-text overlay-top">
			    	<button class="button button-clear pull-right"><i class="icon ion-ios-gear-outline"></i></button>
			    </p>
			    <p class="overlay-text">
			    	<button class="button button-clear button-large pull-right"><i class="icon ion-ios-camera-outline"></i></button>
			    </p>
			  </div>
			  <div class="item item-avatar item-avatar-center">
			    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/spjpgrd/73.jpg" style="border:2.5px solid #fff">
			  </div>
			  <div class="item item-body text-center">
			  	<br>
			    <h2>Marty McFly</h2>
			    <p class="muted">Founder and CEO of Facebook Inc and Instagram&copy;, from Palo Alto, California</p>
			    <div>
			    	<button class="button button-calm button-round button-small">Following</button>
			    	<button class="button button-calm button-round button-outline button-small">Message</button>
			    </div>
			  </div>
			  <div class="item item-divider text-center stable-bg">
			    <div class="row">
					  <div class="col muted">
					  	<h1 class="no-margin">296</h1><small class="muted" style="font-weight:300;font-size:70%">FOLLOWING</small>
					  </div>
					  <div class="col">
					  	<h1 class="no-margin">24K</h1><small class="muted" style="font-weight:300;font-size:70%">FOLLOWERS</small>
					  </div>
					</div>
			  </div>
			</div>
		</div>
  </ion-content>
</ion-view>