<ion-view view-title="Login">
  <ion-content header-shrink delegate-handle="scrollHandle" on-scroll="checkPosition()" sticky watch-variable="vm.posts" scroll-event-interval="5">
    <div class="list list-borderless">
    	<div class="item-container card no-margin-horizontal no-margin-top" ng-repeat="post in vm.posts track by post.id" on-repeat-done="eventTransactionsRendered" id="group_{{$index}}">
			  <div class="item item-avatar item-text-center item-divider item-borderless">
			    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/emirik/73.jpg">
			    {{post.blog_name}} {{$index}}
			  </div>
			  <div class="item item-image" ng-repeat="photo in post.photos">
			    <img style="max-width:100%;min-width:100%" ng-src="{{photo.alt_sizes[2].url}}" width="{{photo.alt_sizes[2].width}}" height="{{photo.alt_sizes[2].height}}">
			  </div>
			  <div class="item item-text-wrap item-borderless" ng-if="post.caption">
			  	<div ng-bind-html="post.caption" ng-cloak></div>
			  </div>
			  <div class="item item-text-center" style="justify-content: space-between">
			  	<a class="subdued">{{post.note_count}} notas</a>
			  	<a class="subdued button button-icon icon ion-ios-heart-outline"></a>
			  </div>
		  </div>
		</div>
		<ion-infinite-scroll on-infinite="vm.loadMore()" distance="2%" ng-if="!vm.isBusy()" ng-show="vm.posts.length"></ion-infinite-scroll>
  </ion-content>
</ion-view>