<ion-view view-title="Login">
  <ion-content ion-sticky ion-sticky-class="affix" scrolling delegate-handle="scroller">
  	<ion-refresher pulling-text="Puxe para atualizar..." on-refresh="vm.refresh()"></ion-refresher>
  	<div class="padding" style="text-align:center" ng-show="!vm.posts.length"><ion-spinner></ion-spinner></div>
    <div class="list list-borderless card no-margin-horizontal no-margin-top" ng-repeat="post in vm.posts track by post.id">
		  <div class="item item-avatar item-text-center item-divider">
		    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/emirik/73.jpg">
		    {{post.blog_name}} {{$index}}
		  </div>
		  <div class="item item-image" ng-repeat="photo in post.photos">
		    <img ng-src="{{photo.alt_sizes[2].url}}">
		  </div>
		  <div class="item item-text-wrap item-borderless" ng-if="post.caption">
		  	<div ng-bind-html="post.caption" ng-cloak></div>
		  </div>
		  <div class="item item-text-center" style="justify-content: space-between">
		  	<a class="subdued">{{post.note_count}} notas</a>
		  	<a class="subdued button button-icon icon ion-ios-heart-outline"></a>
		  </div>
		</div>
		<ion-infinite-scroll on-infinite="vm.loadMore()" distance="2%" ng-if="!vm.isBusy()" ng-show="vm.posts.length"></ion-infinite-scroll>
  </ion-content>
</ion-view>