<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon ion-android-search"></button>
        <!--<button class="button button-icon ion-android-more-vertical" menu-toggle="right"></button>-->
        <button class="button button-clear button-light" ng-click="popover.show($event)">
          <i class="icon ion-android-more-vertical"></i>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <drawer side="left">
    <ion-content>
      <ion-list class="list-borderless">
        <ion-item class="item-avatar item-icon-right">
          <span class="item-image calm-bg" data-name="{{'John Doe'.substr(0,1)}}"></span>
          <h2>John Doe</h2>
          <p>johndoe@employer.co</p>
          <a class="icon ion-gear-a non-decoration muted padding-right" menu-close href="" ui-sref="app.config"></a>
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="" ui-sref="app.login" ui-sref-active="active">
          <i class="icon ion-person-stalker"></i>
          Login
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="" ui-sref="app.search" ui-sref-active="active">
          <i class="icon ion-search"></i>
          Search
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="" ui-sref="app.browse" ui-sref-active="active">
          <i class="icon ion-filing"></i>
          Browse
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="" ui-sref="app.playlists" ui-sref-active="active">
          <i class="icon ion-document-text"></i>
          Playlists
        </ion-item>
      </ion-list>
    </ion-content>
  </drawer>

  <drawer side="right" ng-show="!navDisabled">
    <ion-content>
      <ion-list class="list-borderless">
        <ion-item class="item-avatar item-icon-right">
          <span class="item-image" data-name="{{'John Doe'.substr(0,1)}}"></span>
          <h2>John Doe</h2>
          <p>johndoe@employer.co</p>
          <a class="icon ion-gear-a non-decoration muted padding-right" menu-close href="" ui-sref="app.config"></a>
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="" ui-sref="app.login" ui-sref-active="active">
          <i class="icon ion-person-stalker"></i>
          Login
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="" ui-sref="app.search" ui-sref-active="active">
          <i class="icon ion-search"></i>
          Search
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="" ui-sref="app.browse" ui-sref-active="active">
          <i class="icon ion-filing"></i>
          Browse
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="" ui-sref="app.playlists" ui-sref-active="active">
          <i class="icon ion-document-text"></i>
          Playlists
        </ion-item>
      </ion-list>
    </ion-content>
  </drawer>

  <!--<ion-side-menu side="left">
    <ion-content>
      <ion-list class="list-borderless">
        <ion-item class="item-avatar item-icon-right">
          <span class="item-image" data-name="{{'John Doe'.substr(0,1)}}"></span>
          <h2>John Doe</h2>
          <p>johndoe@employer.co</p>
          <a class="icon ion-gear-a non-decoration muted padding-right" menu-close href="" ui-sref="app.config"></a>
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="" ui-sref="app.browse" ui-sref-active="active">
          <i class="icon ion-person-stalker"></i>
          Login
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="" ui-sref="app.search" ui-sref-active="active">
          <i class="icon ion-search"></i>
          Search
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="" ui-sref="app.browse" ui-sref-active="active">
          <i class="icon ion-filing"></i>
          Browse
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="" ui-sref="app.playlists" ui-sref-active="active">
          <i class="icon ion-document-text"></i>
          Playlists
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>-->
</ion-side-menus>
