<ion-view>
	<ion-nav-bar class="bar-transparent bar-dark" align-title="center">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear button-light ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear button-light">
        <i class="icon ion-android-search"></i>
      </button>
      <button class="button button-clear button-light" ng-click="popover.show($event)">
        <i class="icon ion-android-more-vertical"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-nav-title>
  	Place
  </ion-nav-title>
  <ion-content>
    <!--<div class="list">
	    <div class="card no-margin-bottom">-->
			  <div class="item item-image item-gradient-top">
			    <img src="https://unsplash.it/540/304?image=42">
			  </div>
			  <div class="item item-body">
			    <p class="no-margin">
				    <i class="icon ion-android-star calm"></i>
	        	<i class="icon ion-android-star calm"></i>
	        	<i class="icon ion-android-star calm"></i>
	        	<i class="icon ion-android-star-half calm"></i>
	        	<i class="icon ion-android-star-outline calm"></i>
	        </p>
			    <h1 class="no-margin">Kafka Café</h1>
			    <p class="no-margin-top muted">
		        <i class="icon icon-fw ion-location"></i> 4347 Noble Pond Ramp, Lexington KY
		        <br><i class="icon icon-fw ion-ios-telephone"></i> (555) 726-281
	        </p>
	        <div>
	        	<span class="badge badge-inline badge-stable">Coffee</span>
	        	<span class="badge badge-inline badge-stable">Bar</span>
	        	<span class="badge badge-inline badge-stable">Café</span>
	        	<span class="badge badge-inline badge-stable">Ristorant</span>
	        </div>
			  </div>
			<!--</div>
		</div>-->
  </ion-content>
</ion-view>